/* frontend/src/components/Manager.css */

.manager-container {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
  }
  
  .title {
    color: #333;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-label {
    margin-bottom: 10px;
  }
  
  .form-input {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sales-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .sale-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .sale-details {
    margin-bottom: 10px;
  }
  
  .delete-button {
    padding: 6px 12px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

  /* SalesManager.css */

/* Style for the edit form modal */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 60%; /* 60% width */
    height: 50%; /* 50% height */
    overflow: auto;
  }
  
  .update-form {
    display: flex;
    flex-direction: column;
  }
  
  .update-form label {
    margin-bottom: 10px;
  }
  
  .update-form input,
  .update-form select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .update-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .update-form button:hover {
    background-color: #45a049;
  }
  
  .close-button {
    background-color: #f44336;
  }
  
  .close-button:hover {
    background-color: #d32f2f;
  }
  
  /* Add additional styles for other elements as needed */
  